<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="presentFilterPopover($event)">
        <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-title>Chats</ion-title>
    
    <ion-buttons slot="end">
      <ion-button (click)="toggleSearchBar()">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
  <ion-toolbar *ngIf="isSearchBarVisible">
    <ion-searchbar 
      placeholder="Search chats" 
      (ionChange)="onSearch($event)"
      showCancelButton="always"
      (ionCancel)="toggleSearchBar()"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
      <app-chat-list-item *ngFor="let chat of chats" [chat]="chat"></app-chat-list-item>
  </ion-list>

  <!-- FAB Button -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="chatbubble-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>