<ion-list>
  <ion-item button (click)="togglePin()">
    <ion-icon 
      [name]="chat.pinned ? 'bookmark' : 'bookmark-outline'" 
      slot="start"
    ></ion-icon>
    <ion-label>
      {{ chat.pinned ? 'Unpin' : 'Pin' }} Chat
    </ion-label>
  </ion-item>
  
  <ion-item button (click)="markAsUnread()">
    <ion-icon name="mail-unread-outline" slot="start"></ion-icon>
    <ion-label>Mark as Unread</ion-label>
  </ion-item>
  
  <ion-item button (click)="deleteChat()" color="danger">
    <ion-icon name="trash-outline" slot="start"></ion-icon>
    <ion-label>Delete Chat</ion-label>
  </ion-item>
</ion-list>