<!-- login.page.html -->
<ion-content class="ion-padding">
  <div class="login-container">
    <!-- Header -->
    <div class="header ion-text-center">
      <h1>Sign In</h1>
      <p>Welcome back! Please sign in to continue</p>
    </div>

    <!-- Login Form -->
    <form (ngSubmit)="onSubmit()" class="ion-margin-top">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input 
            [(ngModel)]="email" 
            name="email" 
            type="email"
            required
            autocomplete="email">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" [(ngModel)]="password"  name="password" >
            <ion-input-password-toggle slot="end"></ion-input-password-toggle>
          </ion-input>
        </ion-item>
      </ion-list>

      <div class="ion-text-end">
        <ion-button fill="clear" size="small" routerLink="/forgot-password">
          Forgot Password?
        </ion-button>
      </div>

      <ion-button 
        expand="block" 
        type="submit" 
        class="ion-margin-top">
        Sign In
      </ion-button>

      <div class="ion-text-center ion-margin-top footer-content">
        <ion-text color="medium">Don't have an account?</ion-text>
        <ion-button fill="clear" [routerLink]="['/signup']">
          Create Account
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>